.dropdown-transparent {
  background-color: transparent;
  border: none;
  color: inherit;
  box-shadow: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-container button {
  background-color: #4e90fe;
  border: none;
  color: white;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  height: 40px;
  width: auto;
}

.pagination-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-container span {
  margin: 0 10px;
}

.my-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
